.topbar {
  display: flex;
  justify-content: space-between;

  &__burger {
    width: 30px;
    height: 21px;
    border: none;
    background: transparent;
    position: relative;

    &:after, &:before, span {
      content: '';
      position: absolute;
      left: 0;
      height: 3px;
      background: var(--color-light);
      border-radius: var(--border-radius);
      right: 7px;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    span {
      top: 9px;
      right: 0;
    }

    &.active {
      &:after, &:before, span {
        background: var(--color-main);
      }

      span {
        display: none;
      }

      &:before {
        top: 8.5px;
        transform: rotate(45deg);
      }

      &:after {
        bottom: 8.5px;
        left: 0;
        transform: rotate(-45deg);
      }
    }
  }

  &__notifications {
    width: 25px;
    height: 25px;
    background-image: svg-load('assets/img/icons/notification.svg');
    background-repeat: no-repeat;
    background-size: contain;

    &.active {
      background-image: svg-load('assets/img/icons/notification_active.svg');
    }
  }

  &__menu {
    padding: 20px 10px;
    position: fixed;
    z-index: 100;
    background: var(--color-light);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-100%);
    transition: all .25s ease;
    &.active{
      transform: translateX(0);
    }
  }

  &__head {
    width: 100%;
    height: 21px;
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__title {
    color: var(--color-secondary);
  }

  &__list {
    margin-top: 20px;
    width: 100%;
  }

  &__item {
    $color-inactive: #2B2B2BFF;
    $color-active: #FF7A00FF;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    padding: 10px 0;
    color: $color-inactive;

    &:before {
      display: block;
      background-size: contain;
      content: "";
      height: 1.5rem;
      left: 1.25rem;
      transition: all .5s ease;
      width: 1.5rem;
    }

    &.main:before {
      background-image: svg-load('assets/img/icons/home.svg', fill=$color-inactive);
    }

    &.profile:before {
      background-image: svg-load('assets/img/icons/profile.svg', stroke=$color-inactive);
    }

    &.orders:before {
      background-image: svg-load('assets/img/icons/order.svg', stroke=$color-inactive);
    }

    &:after {
      position: absolute;
      right: 0;
      display: block;
      background-size: contain;
      content: "";
      height: 0.75rem;
      transition: all .5s ease;
      width: 0.75rem;
      background-repeat: no-repeat;
      background-image: svg-load('assets/img/icons/right-arrow.svg', fill=$color-inactive);
    }
    &.active{
      &:after {
        background-image: svg-load('assets/img/icons/right-arrow.svg', fill=$color-active);
      }
      &.main:before {
        background-image: svg-load('assets/img/icons/home.svg', fill=$color-active);
      }

      &.profile:before {
        background-image: svg-load('assets/img/icons/profile.svg', stroke=$color-active);
      }

      &.orders:before {
        background-image: svg-load('assets/img/icons/order.svg', stroke=$color-active);
      }
    }
  }

  &__feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: var(--color-secondary);
  }

  &__tools {
    display: flex;
    gap: 15px;
  }
}
