:root{
    --color-light: #f6f5f5;
    --border-radius: 10px;
    --color-secondary: #666666;
    --color-main: #ffa501;
    --color-gradient: linear-gradient(135deg, var(--color-main) 36%, rgb(244, 185, 77));
    --font-family-base: 'Roboto', 'Tahoma', sans-serif;
    --font-size-base: 16px;
    --line-height-base: 1.4;
}