:root{
    --color-light: #FFFFFF;
    --color-light-secondary: #B3B3B3;
    --border-radius: 10px;
    --color-secondary: #2b2b2b;
    --color-main: #FF7A00;
    --shadow: 0px 0px 5px var(--color-light-secondary);
    --font-family-base: 'Roboto', 'Tahoma', sans-serif;
    --font-size-base: 16px;
    --line-height-base: 1.4;
}
